---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="share your ideas" id="intro">
  <!-- <Icon slot="eyebrow" name="logomark" class="size-32" /> -->
  <Fragment slot="lead">
    Discover and share knowledge on our platform for the
    <span class="text-primary">upcoming</span> knowledge sharing community.
    Experience <span class="text-primary">inspiring</span> talks and
    <span class="text-primary">thought-provoking</span> discussions.
  </Fragment>
  <div class="grid grid-cols-1 gap-1 sm:grid-cols-1">
    <!-- <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:telescope" class="size-8" />
      <span>You are comming</span>
    </a> -->
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:rocket" class="size-8" />
      <span>You are comming</span>
      
    </a>
  </div>
</ContentSection>
